.nav {
  background-color: #10255f;
}

.tc {
  color: #133d87;
}

.complex-shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 2px 2px 4px rgba(0, 0, 0, 0.3),
    inset -2px -2px 5px #133d87;
}

.heading {
  text-align: left;
  font-weight: 350;
  font-size: clamp(45px, 4vw, 65px);
  color: rgb(19, 11, 58);
}
.heading-1 {
  text-align: left;
  font-weight: 390;
  font-size: clamp(25px, 4vw, 55px);
  color: rgb(19, 11, 58);
}

.input-borders {
  border: 1.2px solid #5991d1;
  border-radius: 3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 2px 2px 4px rgb(232, 220, 220),
    inset -2px -2px 5px #133d87;
  z-index: 1;
  border: 1.2px solid #5991d1;
  border-radius: 3px;
}

.dropdown-content div {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
